.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;

  nav {
  width: 900px;
  display: flex;
  justify-content: space-around;

  a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    margin-right: 5px;
  }

  :hover {
    cursor: pointer;
  }
}

  .loginForm {
    width: 900px;
    display: flex;
    justify-content: center;
    margin-top: 10%;

    input {
      margin-right: 10px;
      width: 175px;
      height: 30px;
      text-align: center;
    }

    button {
      width: 150px;
      height: 30px;
      border-radius: 6px;
      font-size: 1rem;
    }
  }

  .loadingPage {
    margin-top: 2%;

    h2{
      color: white;
    }
  }

  .friendsListDiv {
    margin-top: 2%;
    width: 900px;
    display: flex;
    flex-wrap: wrap;

    .friendsCards {
      margin-top: 2%;
      width: 900px;
      display: flex;
      flex-wrap: wrap;

      .friendCard {
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;

        h4 {
          color: white;
        }
        
        p {
          color: white;
        }
      }
    }
  }
}

